{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block extra_styles %}
    <style>
        .login_content {
            padding: 0;
        }
    </style>
{% endblock %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">

                <form class="login" method="POST" action="{% url 'account_login' %}">
                    <h1>Logowanie</h1>
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button id="sign-in-button" class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                    <a class="btn btn-default secondaryAction"
                       href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </form>

                <div class="separator">
                    <p class="change_link">Nie masz konta?
                        <a href="{% url 'account_signup' %}"> Zarejestruj się </a>
                    </p>

                    <div class="clearfix"></div>
                    <br/>

                    <div>
                        <h1>Awesome Game</h1>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

