{% extends "websocket_base.html" %}

{% block main_content %}

    <div ng-controller="RoomListController">

        <ul id="roomList">
            <li id="room{$ room.id $}" ng-repeat="room in roomList">
                {{ room.id }}
                {$ room.name $}
            </li>

        </ul>

        <button ng-click="addNew()">Założ nowy</button>
    </div>


    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{$ selected.item $}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

{% endblock %}




{##}
{#{% block script_panel %}#}
{#    <script type="text/javascript">#}
{#        jQuery(document).ready(function($) {#}
{#            var ws4redis = WS4Redis({#}
{#                uri: '{{ WEBSOCKET_URI }}roomList?subscribe-broadcast&publish-broadcast&echo',#}
{#                receive_message: receiveMessage,#}
{#                heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}#}
{#            });#}
{#            var billboard = $('#roomList');#}
{##}
{#            // receive a message though the Websocket from the server#}
{#            function receiveMessage(msg) {#}
{#                var message = JSON.parse(msg);#}
{##}
{#                if (!billboard.find('#room' + message.id).length) {#}
{#                    billboard.append('<li>' + message.id + ' ' + message.name + '</li>');#}
{#                    billboard.scrollTop(billboard.scrollTop() + 25);#}
{#                }#}
{##}
{#            }#}
{#        });#}
{#    </script>#}
{#{% endblock %}#}
