{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Dane podstawowe</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <dl class="dl-horizontal">
                    <dt>Nazwa:</dt>
                    <dd>{{ object.name }}</dd>

                    <dt>Url:</dt>
                    <dd><a href="{{ object.url }}">{{ object.url }}</a></dd>
                </dl>

            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Dane serwera</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <dl class="dl-horizontal">
                    <dt>Status:</dt>
                    <dd>{{ object.status }}</dd>
                </dl>
            </div>
        </div>
    </div>

{% endblock %}
