{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Dane podstawowe</h2>

                <ul class="nav navbar-right panel_toolbox">
                    <li><a href="{% url 'server:edit' object.pk %}"><i class="fa fa-edit"></i></a></li>
                    {% if object.can_delete %}
                        <li><a href="{% url 'server:delete' object.pk %}"><i class="fa fa-trash-o"></i></a></li>
                    {% endif %}
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <dl class="dl-horizontal">
                    <dt>Nazwa:</dt>
                    <dd>{{ object.name }}</dd>

                    <dt>Url:</dt>
                    <dd><a href="{{ object.url }}">{{ object.url }}</a></dd>

                    <dt>Status:</dt>
                    <dd>{{ object.status }}</dd>
                </dl>

            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Wykorzystanie zasobów</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <dl class="dl-horizontal">
                    <dt>Procesor:</dt>
                    <dd>
                        {% if object.stats.cpu is not None %}
                            {{ object.stats.cpu }} %
                        {% else %}
                            <span class="text-muted">Brak aktualnych danych</span>
                        {% endif %}
                    </dd>

                    <dt>Pamięć RAM:</dt>

                    <dd>
                        {% if object.stats.cpu is not None %}
                            {{ object.stats.ram }} %
                        {% else %}
                            <span class="text-muted">Brak aktualnych danych</span>
                        {% endif %}
                    </dd>
                </dl>
            </div>
        </div>
    </div>

{% endblock %}
