{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

    <a href="{% url 'server:create' %}" class="btn btn-success">Dodaj nowy</a>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Lista serwerów</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Nazwa serwera</th>
                        <th>Adres URL</th>
                        <th>Zużycie procesora</th>
                        <th>Zużycie pamięci RAM</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for server in object_list %}
                        <tr>
                            <td><a href="{% url 'server:detail' server.pk %}">{{ server.name }}</a></td>
                            <td>{{ server.url }}</td>
                            <td>{{ server.stats.cpu }} %</td>
                            <td>{{ server.stats.ram }} % </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}
