{% load staticfiles i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}AwesomeGame{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script apps="https://html5shim.googlecode.com/svn/trunk/html5.js' %}"></script>
    <![endif]-->

    {% block css %}
        <!-- Latest compiled and minified CSS -->
        <link href="{% static 'bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
        <!-- iCheck -->
        <link href="{% static 'iCheck/skins/flat/green.css' %}" rel="stylesheet">
        <!-- bootstrap-progressbar -->
        <link href="{% static 'bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}"
              rel="stylesheet">
        <!-- Animate.css -->
        <link href="https://colorlib.com/polygon/gentelella/css/animate.min.css" rel="stylesheet">

        <!-- Custom Theme Style -->
        <link href="{% static 'gentelella/build/css/custom.min.css' %}" rel="stylesheet">

        {% block extra_styles %}
        {% endblock %}

        <!-- This file store project specific CSS -->
        <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}


</head>
{% block body %}
    <body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-facebook"></i> <span>Awesome Game</span></a>
                    </div>

                    <div class="clearfix"></div>

                    {% if request.user.is_authenticated %}
                        <div class="profile">
                            <div class="profile_pic">
                                <img src="{% static 'gentelella/production/images/img.jpg' %}" alt="..."
                                     class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Witam,</span>
                                <h2>{{ request.user }}</h2>
                            </div>
                        </div>
                    {% endif %}

                    <br/>

                    {% include "sidebar.html" %}

                </div>
            </div>

            {% include "topbar.html" %}

            <!-- page content -->
            <div class="right_col" role="main">

                {% if messages %}
                    <div class="row">
                        {% for message in messages %}
                            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% block content %}
                {% endblock %}

            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
    </div>


    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}

        <!-- jQuery -->
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <!-- Bootstrap -->
        <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <!-- FastClick -->
        <script src="{% static 'fastclick/lib/fastclick.js' %}"></script>
        <!-- NProgress -->
        <script src="{% static 'nprogress/nprogress.js' %}"></script>
        <!-- bootstrap-progressbar -->
        <script src="{% static 'bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
        <!-- iCheck -->
        <script src="{% static 'iCheck/icheck.min.js' %}"></script>
        <!-- Flot -->
        <script src="{% static 'Flot/jquery.flot.js' %}"></script>
        <script src="{% static 'Flot/jquery.flot.pie.js' %}"></script>
        <script src="{% static 'Flot/jquery.flot.time.js' %}"></script>
        <script src="{% static 'Flot/jquery.flot.stack.js' %}"></script>
        <script src="{% static 'Flot/jquery.flot.resize.js' %}"></script>

        <!-- Custom Theme Scripts -->
        <script src="{% static 'gentelella/build/js/custom.min.js' %}"></script>

        <script src="{% static 'js/ws4redis.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/ajax.js' %}"></script>

        <script src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}

    {% block extra_script %}
    {% endblock %}

    </body>
{% endblock body %}
</html>
